body{
	background: url("img/back1.jpg");
	background-attachment: fixed;
}
.pic{

	width: 33%;

}
h1{
	color: white;
	font-size: 60px;
	font-family: verdana;
}


.heading{

	padding: 2px;
	text-align: center;
}